<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="eWniosek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="eWniosek.Properties.Settings.Setting" connectionString="Data Source=ITL04\SQLEXPRESS;Initial Catalog=eWniosek;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="eWniosekEntities" connectionString="metadata=res://*/ModelEWniosek.csdl|res://*/ModelEWniosek.ssdl|res://*/ModelEWniosek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITL04\SQLEXPRESS;initial catalog=eWniosek;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <eWniosek.Properties.Settings>
      <setting name="NazwaJednostki" serializeAs="String">
        <value />
      </setting>
      <setting name="Inicjały" serializeAs="String">
        <value />
      </setting>
      <setting name="NumerTeczki" serializeAs="String">
        <value />
      </setting>
      <setting name="Adresat" serializeAs="String">
        <value />
      </setting>
      <setting name="Nadawca" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="LdzLiczba1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LdzLiczba2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ŚcieżkaZapisu" serializeAs="String">
        <value />
      </setting>
      <setting name="Rok" serializeAs="String">
        <value />
      </setting>
      <setting name="PelnaNazwaJednostki" serializeAs="String">
        <value />
      </setting>
    </eWniosek.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>